.home__container {
    row-gap: 7rem;
}

.home__content {
    grid-template-columns: 116px repeat(2, 1fr);
    padding-top: 5.5rem;
    column-gap: 2rem;
    align-items: center;
}

.home__img {
    background: url(../../assets//IMG_2122.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-self: center;
    box-shadow: inset 0 0 0 9px rgb(255 255 255 / 30%);
    order: 1;
    width: 300px;
    height: 300px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

.home__social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--title-color);  
}

.home__title {
    font-size: 2.71rem;
    margin-bottom: var(--mb-0-25);
}

.home__hand {
    width: 38px;
    height: 38px;
    margin-left: 0.4rem;
}

.home__subtitle::before {
    content: '';
    position: absolute;
    width: 70px;
    height: 1px;
    background-color: var(--text-color);
    left: 0;
    top: 1rem;
}

.home__description {
    max-width: 400px;
    margin-bottom: var(--mb-3);
}


.animated_button {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 50px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
}

.animated_button span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;
    background: linear-gradient(90deg, #0000 0%, #03060a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 18px;
}

.animated_button span:nth-child(2) {
    color: black;
    background: #fff;
    overflow: hidden;
    z-index: 2;
    transition: 0.5s;
    clip-path: polygon(60% 0, 100% 0%, 100% 100%, 60% 100%, 40% 53%);
}

.animated_button span:nth-child(2):hover {

    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%, 0 50%);
}

.animated_button span:nth-child(1):hover~span:nth-child(2) {

    clip-path: polygon(100% 0, 100% 0%, 100% 100%, 100% 100%, 100% 50%);
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__scroll {
    margin-left: 9.25rem;
}

.wheel {
    animation: scroll 2s ease infinite;
}

@keyframes scroll {
    0% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(3.75rem);
    }
}

.home__scroll-name {
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
}

.home__scroll-arrow {
    font-size: 1.25rem;
    color: var(--title-color);
}

@media screen and (max-width:992px) {
    .home__content {
        grid-template-columns: 100px repeat(2, 1fr);
        column-gap: 1.25rem;
    }

    .home__hand {
        width: 26px;
        height: 26px;
    }

    .home__subtitle {
        padding-left: 3.75rem;
        margin-bottom: var(--mb-1);
    }

    .home__subtitle::before {
        width: 42px;
        top: 0.8rem;
    }

    .home__description {
        max-width: initial;
        margin-bottom: var(--mb-2-5);
    }

    .home__img {
        width: 250px;
        height: 250px;
        box-shadow: inset 0 0 0 8px rgb(255 255 255 / 30%);
    }

    .home__scroll {
        margin-left: 7.5rem;
    }

}

/* For medium devices */

@media screen and (max-width:768px) {
    .home__content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .home__img {
        order: initial;
        justify-self: initial;
    }

    .home__data {
        grid-column: 1/3;
    }

    .home__img {
        box-shadow: inset 0 0 0 6px rgb(255 255 255 / 30%);
        width: 200px;
        height: 200px;
    }

    .home__scroll {
        display: none;
    }
}

@media screen and (max-width:350px) {
    .home__img {
        width: 180px;
        height: 180px;
    }

    .home__hand {
        width: 22px;
        height: 22px;
    }
}