.Resume {
    position: absolute;
    z-index: 10;
    background-color: #31313A;
    width: 60rem;
    color: white;
    font-family:'Poppins';
    margin-left: 55.9rem;
    top: 50px;
    overflow: scroll;
    max-height:48rem ;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}


.resume_info table {
    display: flex;
    /* margin-left: 1rem; */
}

.resume_info table th tr a {
    color: #fff;
    text-decoration: none;
    margin-top: 0.9rem;
    display: flex;
    font-size: 1.4rem;
}



.date {
    border: 1px solid #4b4b50;
    width: 45%;
    padding: 0.1rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
}

.resume_info table th tr p {
    font-size: 1.69rem;
    line-height: 1.7;
    color: #7e7e89;
}

.resume_info table th {
    margin-left: 4rem;
}

.resume_icon {
    position: relative;
    top: 0.3rem;
    font-size: 2.5rem;
    color: #ff9800;
}

.Resume_head {
    font-size: 2rem;
    font-weight: 600;
    padding: 1rem;
    border-bottom:1px solid #4b4b50;
    display: flex;
}

.Resume_head span {
    margin-top: -1.4rem;
    padding: 1rem;
}


.table_head h3 {
    font-weight: 600;
    color: #fff;
    font-size: 1.4rem;
    margin-top: 0.6rem;
}

.table_head h3 span {
    font-size: 1rem;
}

.table_head img {
    position: absolute;
    width: 6rem;
    left: 22rem;
    margin-top: -2rem;
}

.date p {
    font-size: 0.1rem;
}