#About {
    width:50%;
    background-color: #31313A;
    color: white;
    margin-left: 55.9rem;
    top: 50px;
    position: absolute;
    z-index: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    font-family:'Poppins';
}

.title {
    padding: 25px 0 20px 20px;
    border-bottom: 0.1px solid #4b4b50;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
}

.circle {
    position: absolute;
    top:2rem;
    left: 0.8rem;
    padding: 13px;
    opacity:0.4; 
    background:rgba(255, 152, 0, 0.4);
    border-radius:50%;
    width: 1%; 
    height: 0.6rem;
}

.about_info {
    color: #FFFFFF8C;
    font-size: 1.3rem;
    padding: 30px;
}

.about_info h2 {
    font-family:'Poppins';
    font-size: 1.3rem;
    line-height: 1.9rem;
}

.about_info p {
    line-height: 2.3rem;
    font-family:'Poppins';
    font-weight: 300;
}

table {
    margin-top: 1rem;
    font-family:'Poppins';
    font-weight: 300;
}

table th tr{
    text-align: start;
    color: white;
}

table th tr span {
    color:#FFFFFF8C;
}

table th {
    line-height: 2.3rem;
    font-family:'Poppins';
    font-weight: 300;
}

.second_col {
    padding-left: 10rem;
    font-family:'Poppins';
    font-weight: 300;
}

.circle2 {
    position: absolute;
    padding: 15px;
    opacity:0.4; 
    background:rgba(255, 152, 0, 0.4);
    border-radius:50%;
    width: 1.5%; 
    height: 0.6rem;
    margin-top: -3.8rem;
    margin-left: 0.8rem;
}

.services_info table {
    margin-left: 0.6rem;
}

.services_row {
    text-align: start;
    padding: 28px;
}

.services_row h3 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.services_row p {
    font-size: 1.2rem;
    color: #FFFFFF8C;
}

.line {
    border-right: 0.1px solid #4b4b50;
}

.bottom {
    border-bottom: 0.1px solid #4b4b50;
}

.icon {
    line-height: 3.7rem;
    font-size: 3.3rem;
    color:#ff9800;
    margin-left: 1rem;
}

.services_circle {
    position: absolute;
    /* top:2rem; */
    /* left: 0.8rem; */
    margin-top: -5.2rem;
    margin-left: -0.4rem;
    padding: 33px;
    opacity:0.2; 
    background:rgba(255, 152, 0, 0.4);
    border-radius:50%;
    width: 1%; 
    height: 0.6rem;
}

.pricing_info table {
    text-align: center;
}

.priceTable_th{
    padding-left: 12.5rem;
    padding-top: 2.5rem;
}